    <header class="bg-white shadow-sm border-b">
        <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-16">
                <!-- Logo -->
                <div class="flex items-center">
                    <h1 class="text-2xl font-bold text-primary">ShopHub</h1>
                </div>
                
                <!-- Navigation Links -->
                {{ if .User }}
                <div class="hidden md:flex items-c  enter space-x-8">
                    <a href="/" class="text-gray-700 hover:text-primary transition-colors">Home</a>
                    <a href="/products" class="text-gray-700 hover:text-primary transition-colors">Products</a>
                </div>
                {{ end }}
                
                <!-- Auth Buttons -->
                {{ if .User }}
                    <div class="flex items-center gap-x-5">
                        <a href="{{ .LogoutHref }}" class="text-red-300 hover:text-red-400 transition-colors font-medium">
                            Logout
                        </a>
                        <p class="font-semibold text-gray-500 capitalize">{{ .User.Name }}</p>
                    </div>
                {{else}}
                    <div class="flex items-center space-x-4">
                        <a href="{{ .LoginHref }}" class="text-gray-700 hover:text-primary transition-colors font-medium">
                            Login
                        </a>
                        <a href="{{ .RegisterHref }}" class="bg-primary text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition-colors font-medium">
                            Register
                        </a>
                    </div>  
                {{end}}
                
                <!-- Mobile menu button -->
                <div class="md:hidden">
                    <button class="text-gray-700 hover:text-primary">
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    </header>